<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>A&J Tech</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/estilo-prop-prod.css">
    </head>


    <body>

    <!-- Navigation-->

        <nav class="navbar navbar-light bg-light static-top nav">
            <div class="container">
                <a class="navbar-brand" href="index.html">A&J Tech</a>
                <div class="anim d-flex">
                    <a class="btn" href="index.html">Home</a>
                    <div class="btn-group ">
                        <button type="button" class="btn btn-outline-dark border-0">
                            <a href="productos.html">Productos</a>
                        </button>
                        <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split border-0" data-bs-toggle="dropdown" arua-expanded="false">
                        </button>
                        <ul class="dropdown-menu ">
                            <li><a href="iphones.html" class="dropdown-item">iPhone</a></li>
                            <li><a href="relojes.html" class="dropdown-item">Watch</a></li>
                            <li><a href="macbook.html" class="dropdown-item">MacBook</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Masthead-->

        <header id="top-of-page" class="masthead5">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                    </div>
                </div>
            </div>
        </header>        

    <!-- Producto-->

        <div>
            <div class="d-flex titulo-pres"><p>MacBook Air</p></div>

            <div class="cartas">
                <div class="d-flex justify-content-around">
                    <div class="card mb-3 ind-card" style="max-width: 540px;">
                        <div class="imagenes row g-0">
                            <div class=" col-md-4">
                                <img src="assets/img/mcbook-venta/mcbook-air-13-pulgadas-venta2.png" class="img-fluid rounded-start" alt="MacBook Air de 13 pulgadas">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                <h5 class="card-title">MacBook Air de 13 pulgadas</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-around">
                    <div class="card mb-3 ind-card" style="max-width: 540px;">
                        <div class="imagenes-mc row g-0">
                            <div class="col-md-4">
                                <img src="assets/img/mcbook-venta/mcbook-air-13-pulgadas-venta1.png" class="img-fluid rounded-start" alt="MacBook Air
                                de 13 y 15 pulgadas">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                <h5 class="card-title">MacBook Air
                                    de 13 y 15 pulgadas</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-around">
                    <div class="card mb-3 ind-card" style="max-width: 540px;">
                        <div class="imagenes-mc row g-0">
                            <div class="col-md-4">
                                <img src="assets/img/mcbook-venta/mcbook-air-13-pulgadas-venta.png" class="img-fluid rounded-start" alt="iphone 13 pro max">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                <h5 class="card-title">MacBook Air de 13 pulgadas <br> Chip M2</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex titulo-pres"><p>MacBook Pro</p></div>

            <div class="cartas">
                <div class="d-flex justify-content-around">
                    <div class="card mb-3 ind-card" style="max-width: 540px;">
                        <div class="imagenes-mc row g-0">
                            <div class=" col-md-4">
                                <img src="assets/img/mcbook-venta/mcbook-pro-13-pulgadas-venta1.png" class="img-fluid rounded-start" alt="MacBook pro de 13 y 16 pulgadas Chip M2">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                <h5 class="card-title">MacBook Pro de 14 y 16 pulgadas</h5>
                                <p class="card-text"> <br> This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-around">
                    <div class="card mb-3 ind-card" style="max-width: 540px;">
                        <div class="imagenes row g-0">
                            <div class="col-md-4">
                                <img src="assets/img/mcbook-venta/mcbook-pro-13-pulgadas-venta2.png" class="img-fluid rounded-start" alt="iphone 13 pro">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                <h5 class="card-title">MacBook Pro de 13 pulgadas</h5>
                                <p class="card-text"> <br>Chip M2 <br> This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-around">
                    <div class="card mb-3 ind-card" style="max-width: 540px;">
                        <div class="imagenes-mc row g-0">
                            <div class="col-md-4">
                                <img src="assets/img/mcbook-venta/mcbook-pro-14-a-16-pulgadas-venta.png" class="img-fluid rounded-start" alt="iphone 13 pro max">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                <h5 class="card-title">MacBook Pro de 13 y 16 pulgadas <br> </h5>
                                <p class="card-text">Chip M2 Pro o M2 Max <br> <br> is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    <!-- Footer-->
    
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#!">About</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Contact</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; A&G Tech 2023. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item me-4">
                            <a href="#!"><i class="bi-facebook fs-3"></i></a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a href="#!"><i class="bi-twitter fs-3"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!"><i class="bi-instagram fs-3"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>